# <font color='brown'>100 Pandas Exercises</font>

## Experiment Introduction

![pandas_logo.png](attachment:pandas_logo.png)

**Pandas** is a tool for data processing based on `NumPy`,created to solve data analysis tasks. Pandas incorporates a number of libraries and some standard data models, as well as provides the functions and the methods needed for efficiently manipulating large datasets.

Pandas data structures: Pandas mainly has `Series` (one-dimensional array), `DataFrame` (two-dimensional array), `Panel` (three-dimensional array), `Panel4D` (four-dimensional array), `PanelND` (more-dimensional array) and other data structures. Among them, `Series` and `DataFrame` are the most widely used data structures.
- `Series` is a one-dimensional array with labels, it can contain any data type including integers, strings, floats, Python objects and more. `Series` can be positioned by label.
- `DataFrame` is a two-dimensional data structure with labels. We can use labels to locate data, which is something NumPy doesn't have.

**100 Pandas Exercises** are divided into basic and advanced parts, each with 50 exercises. The _basic part_ is used to familiarize yourself with the use of common Pandas methods while the _advanced part_ focuses on the combined application of the Pandas methods.

If you already have a Pandas foundation before you take the course, you can review it in the following cells. If you are not proficient with Pandas, you must <font color='brown'>do it yourself</font>. It is recommended to practice in the blank cell with every example cell.

### Key Points

The key points covered in this experiment are:
- Creating `Series`
- Basic operations on `Series`
- Creating `DataFrame`
- Basic operations on `DataFrame`
- File-related operations on `DataFrame`
- `Series`, `DataFrame` and multiple indexes
- Pivot table
- Data cleaning
- Data preprocessing
- Visualization

### Environment

- Python 3.6
- NumPy
- Pandas

### Index

- <a href="#1">1. Basic Part</a>
- <a href="#2">2. Advanced Part</a>
- <a href="#3">3. Summary</a>

___

## <a id = "1">1. Basic Part</a>

### Import Pandas Module

#### 1. Import Pandas
Before practicing **Pandas**, we need to import the `pandas` module first; and the convention is abbreviated as `pd`:

In [1]:
import pandas as pd

#### 2. Check Pandas version

In [ ]:
print(pd.__version__)

In [2]:
print(pd.__version__)

1.4.4

### Create  `Series`

In `pandas`, `Series` can be thought of as a dataset consisting of one column of data.

Syntax of creating `Series`: `s = pd.Series(data, index=index)`. It can actually be created in a variety of ways. Here are three common methods:

#### 3. Create `Series` from list

In [ ]:
arr=[0, 1, 2, 3, 4]
s1=pd.Series(arr) # If the index is not specified, then start at 0 by default
s1

**Tip:** The `0`, `1`, `2`, `3` ,`4` in the left are the indexes of the current `Series`; and the `0`, `1`, `2`, `3`, `4` in the right are the values in the `Series`.

In [5]:
arr=[0, 1, 2, 3, 4]
s1=pd.Series(arr)
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

#### 4. Create `Series` from `ndarray`

In [6]:
import numpy as np
n=np.random.randn(5) # Create a random Ndarray 

index=['a','b','c','d','e']
s2=pd.Series(n,index=index)
s2

a    0.618563
b    1.201043
c    1.117579
d    1.565547
e    0.285665
dtype: float64

#### 5. Create `Series` from dictionary

In [ ]:
d={'a':1,'b':2,'c':3,'d':4,'e':5}
s3=pd.Series(d)
s3

In [7]:
d={'a':1,'b':2,'c':3,'d':4,'e':5}
s3=pd.Series(d)
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

### Basic Operations on `Series`

#### 6. Modify `Series` index

In [ ]:
print(s1) # Take s1 for example
s1.index=['A','B','C','D','E'] # The modified index
s1

In [9]:
print(s1)  
s1.index=['A','B','C','D','E']
s1

A    0
B    1
C    2
D    3
E    4
dtype: int64

A    0
B    1
C    2
D    3
E    4
dtype: int64

#### 7. Vertical stitching of `Series`

In [ ]:
s4=s3.append(s1) # Stitch s1 to s3
s4

In [10]:
s4=s3.append(s1)
s4

<ipython-input-10-68d3b012a07a>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s4=s3.append(s1)

a    1
b    2
c    3
d    4
e    5
A    0
B    1
C    2
D    3
E    4
dtype: int64

#### 8. `Series`: Delete element at the specified index

In [ ]:
print(s4)
s4=s4.drop('e') # Delete the value whose index is e  
s4

In [11]:
print(s4)
s4=s4.drop('e') 
s4

a    1
b    2
c    3
d    4
e    5
A    0
B    1
C    2
D    3
E    4
dtype: int64

a    1
b    2
c    3
d    4
A    0
B    1
C    2
D    3
E    4
dtype: int64

#### 9. `Series`: Modify element at the specified index

In [ ]:
s4['A']=6 # Modify the value whose index is A to 6
s4

In [12]:
s4['A']=6
s4

a    1
b    2
c    3
d    4
A    6
B    1
C    2
D    3
E    4
dtype: int64

#### 10. `Series`: Retrieve the element at the specified index

In [ ]:
s4['B']

In [13]:
s4['B']

1

#### 11. `Series` slicing
Access the first three data of `s4`:

In [ ]:
s4[:3]

In [14]:
s4[:3]

a    1
b    2
c    3
dtype: int64

### Series Operations

#### 12. Series Addition
Series addition is calculated according to the index, and it would be filled with `NaN` (null value) if the indexes are different:

In [ ]:
s4.add(s3)

In [15]:
s4.add(s3)

A    NaN
B    NaN
C    NaN
D    NaN
E    NaN
a    2.0
b    4.0
c    6.0
d    8.0
e    NaN
dtype: float64

#### 13. Series Subtraction
Series subtraction is calculated according to the index, and it would be filled with `NaN` (null value) if the indexes are different:

In [16]:
s4.sub(s3)

A    NaN
B    NaN
C    NaN
D    NaN
E    NaN
a    0.0
b    0.0
c    0.0
d    0.0
e    NaN
dtype: float64

#### 14. Series Multiplication
Series multiplication is calculated according to the index, and it would be filled with `NaN` (null value) if the indexes are different:

In [17]:
s4.mul(s3)

A     NaN
B     NaN
C     NaN
D     NaN
E     NaN
a     1.0
b     4.0
c     9.0
d    16.0
e     NaN
dtype: float64

#### 15. Series Division
Series division is calculated according to the index, and it would be filled with `NaN` (null value) if the indexes are different:

In [18]:
s4.div(s3)

A    NaN
B    NaN
C    NaN
D    NaN
E    NaN
a    1.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

#### 16. Series: Get the median

In [ ]:
s4.median()

In [19]:
s4.median()

3.0

#### 17. Series: Get the sum

In [ ]:
s4.sum()

In [20]:
s4.sum()

26

#### 18. Series: Get the maximum value

In [ ]:
s4.max()

In [21]:
s4.max()

6

#### 19. Series: Get the minimum value

In [ ]:
s4.min()

In [22]:
s4.min()

1

### Create `DataFrame`

Unlike `Series`, `DataFrame` can have multiple columns of data. In general, `DataFrame` is also commonly used.

#### 20. Create `DataFrame` with NumPy array

In [ ]:
dates=pd.date_range('today',periods=6) # Define time sequence as index
num_arr=np.random.randn(6,4) # Import numpy random array
columns=['A','B','C','D'] # Use the table as the column name
df1=pd.DataFrame(num_arr,index=dates,columns=columns)
df1

In [23]:
dates=pd.date_range('today',periods=6)
num_arr=np.random.randn(6,4) 
columns=['A','B','C','D']
df1=pd.DataFrame(num_arr,index=dates,columns=columns)
df1

                                   A         B         C         D
2023-04-07 21:01:51.081989  0.242947 -2.558171  0.230434  0.511556
2023-04-08 21:01:51.081989  1.031627  0.674852 -0.736961 -0.814123
2023-04-09 21:01:51.081989  0.156497  1.089977 -0.807071  0.610214
2023-04-10 21:01:51.081989 -0.198697 -0.619245  0.445459 -0.001278
2023-04-11 21:01:51.081989  1.019541  0.422861 -1.515674  1.415453
2023-04-12 21:01:51.081989  0.520908  1.335959  0.051609 -0.384970

#### 21. Create `DataFrame` with dictionary array

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df2 = pd.DataFrame(data, index=labels)
df2

In [24]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df2 = pd.DataFrame(data, index=labels)
df2

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### 22. See the data type of `DataFrame`

In [ ]:
df2.dtypes

In [25]:
df2.dtypes

animal       object
age         float64
visits        int64
priority     object
dtype: object

### Basic Operations on `DataFrame`

#### 23. Preview the first five rows of `DataFrame` data

This method is very useful for quickly understanding the structures of unfamiliar datasets:

In [ ]:
df2.head() # It displays 5 lines by default. In the parentheses, you can specify the number of lines you want to preview as needed.

In [26]:
df2.head()

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no

#### 24. See the last `3` rows of `DataFrame` data

In [ ]:
df2.tail(3)

In [27]:
df2.tail(3)

  animal  age  visits priority
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### 25. See the index of  `DataFrame`

In [ ]:
df2.index

In [28]:
df2.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

#### 26. See the column name of  `DataFrame`

In [ ]:
df2.columns

In [29]:
df2.columns

Index(['animal', 'age', 'visits', 'priority'], dtype='object')

#### 27. See the values of `DataFrame`

In [ ]:
df2.values

In [30]:
df2.values

array([['cat', 2.5, 1, 'yes'],
       ['cat', 3.0, 3, 'yes'],
       ['snake', 0.5, 2, 'no'],
       ['dog', nan, 3, 'yes'],
       ['dog', 5.0, 2, 'no'],
       ['cat', 2.0, 3, 'no'],
       ['snake', 4.5, 1, 'no'],
       ['cat', nan, 1, 'yes'],
       ['dog', 7.0, 2, 'no'],
       ['dog', 3.0, 1, 'no']], dtype=object)

#### 28. See the statistical data of `DataFrame`

In [ ]:
df2.describe()

In [31]:
df2.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

#### 29. `DataFrame` transpose operation

In [ ]:
df2.T

In [32]:
df2.T

            a    b      c    d    e    f      g    h    i    j
animal    cat  cat  snake  dog  dog  cat  snake  cat  dog  dog
age       2.5  3.0    0.5  NaN  5.0  2.0    4.5  NaN  7.0  3.0
visits      1    3      2    3    2    3      1    1    2    1
priority  yes  yes     no  yes   no   no     no  yes   no   no

#### 30. Sort `DataFrame` by column

In [ ]:
df2.sort_values(by='age') # Sorted by age in ascending order

In [33]:
df2.sort_values(by='age')

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

#### 31. Slice the `DataFrame` data

In [ ]:
df2[1:3]

In [34]:
df2[1:3]

  animal  age  visits priority
b    cat  3.0       3      yes
c  snake  0.5       2       no

#### 32. Query the `DataFrame` by tag (single column)

In [ ]:
df2['age']

In [35]:
df2['age']

a    2.5
b    3.0
c    0.5
d    NaN
e    5.0
f    2.0
g    4.5
h    NaN
i    7.0
j    3.0
Name: age, dtype: float64

In [ ]:
df2.age # Equivalent to df2['age']

In [36]:
df2.age

a    2.5
b    3.0
c    0.5
d    NaN
e    5.0
f    2.0
g    4.5
h    NaN
i    7.0
j    3.0
Name: age, dtype: float64

#### 33. Query the `DataFrame` by tag (multiple columns)

In [ ]:
df2[['age','animal']] # Import a list consisting of column names

In [37]:
df2[['age','animal']]

   age animal
a  2.5    cat
b  3.0    cat
c  0.5  snake
d  NaN    dog
e  5.0    dog
f  2.0    cat
g  4.5  snake
h  NaN    cat
i  7.0    dog
j  3.0    dog

#### 34. Query the `DataFrame` by location

In [ ]:
df2.iloc[1:3] # Query rows 23

In [38]:
df2.iloc[1:3]

  animal  age  visits priority
b    cat  3.0       3      yes
c  snake  0.5       2       no

#### 35. Generate a Copy of `DataFrame`

In [ ]:
# Generate the copy of DataFrame, making it convenient for datasets to be used by multiple different processes
df3=df2.copy()
df3

In [39]:
df3=df2.copy()
df3

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### 36. Judge if `DataFrame` is empty

In [ ]:
df3.isnull() # Return True if it's empty

#### 37. Add column data

In [ ]:
num=pd.Series([0,1,2,3,4,5,6,7,8,9],index=df3.index)

df3['No.']=num # Add a new data column named as 'No.'
df3

#### 38. Make changes based on the subscript value of the `DataFrame`

In [ ]:
# Modify the value corresponding to row 2 and column 1: 3.0  2.0
df3.iat[1,0]=2 # The index number begins from 0, so here it's 1, 0
df3

#### 39. Modify the data according to the label of the `DataFrame`

In [ ]:
df3.loc['f','age']=1.5
df3

#### 40. `DataFrame`: Get the average

In [ ]:
df3.mean()

#### 41. Do a summation operation on any column in the `DataFrame`

In [ ]:
df3['visits'].sum()

### String Operations

#### 42. Convert a string to lowercase letters

In [ ]:
string = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
print(string)
string.str.lower()

#### 43. Convert a string to uppercase letters

In [ ]:
string.str.upper()

### Operations for `DataFrame` missing values

#### 44. Fill in missing values

In [ ]:
df4=df3.copy()
print(df4)
df4.fillna(value=3)

#### 45. Delete rows with missing values

In [ ]:
df5=df3.copy()
print(df5)
df5.dropna(how='any') # Any row with NaN will be deleted

#### 46. `DataFrame`: Align by specified column

In [ ]:
left = pd.DataFrame({'key': ['foo1', 'foo2'], 'one': [1, 2]})
right = pd.DataFrame({'key': ['foo2', 'foo3'], 'two': [4, 5]})

print(left)
print(right)

# After aligning according to the key column, only foo2 is the same, so it ends up as a line
pd.merge(left, right, on='key')

### `DataFrame` File Operations

#### 47. Write to CSV file

In [ ]:
df3.to_csv('animal.csv')
print("Success.")

#### 48. Read from CSV file

In [ ]:
df_animal=pd.read_csv('animal.csv')
df_animal

#### 49. Write to Excel spreadsheet

In [ ]:
df3.to_excel('animal.xlsx', sheet_name='Sheet1')
print("Success.")

#### 50. Read from Excel spreadsheet

In [ ]:
pd.read_excel('animal.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

---
## <a id="2">2. Advanced Part</a>

### Index of Time Sequence

#### 51. Create a `Series` indexed by each day in 2018, and the values  are random numbers

In [ ]:
dti = pd.date_range(start='2018-01-01', end='2018-12-31', freq='D') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

#### 52. Get the sum of the corresponding values for each Wednesday in `s`

In [ ]:
# Monday begins from 0
s[s.index.weekday == 2].sum()

#### 53. Get the average value of each month value in `s`

In [ ]:
s.resample('M').mean()

#### 54. Convert the time unit in `Series` (second to minute)

In [ ]:
s = pd.date_range('today', periods=100, freq='S')

ts = pd.Series(np.random.randint(0, 500, len(s)), index=s)

ts.resample('Min').sum()

#### 55. UTC

In [ ]:
s = pd.date_range('today', periods=1, freq='D') # Get the current time
ts = pd.Series(np.random.randn(len(s)), s) # Random value
ts_utc = ts.tz_localize('UTC') # Convert to UTC time
ts_utc

#### 56. Convert to the time zone of Shanghai

In [ ]:
ts_utc.tz_convert('Asia/Shanghai')

#### 57. Conversion of different time representations

In [ ]:
rng = pd.date_range('1/1/2018', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
print (ts)
ps = ts.to_period()
print(ps)
ps.to_timestamp()

###  Series with Multiple Indexes [Optional]

#### 58. Create the multiple index Series

Construct a `Series` with multiple indexes, whose indexes are `letters = ['A', 'B', 'C']` and `numbers = list(range(10))`, and whose values are random numbers:

In [ ]:
letters = ['A', 'B', 'C']
numbers = list(range(10))

mi = pd.MultiIndex.from_product([letters, numbers]) # Set multiple indexes
s = pd.Series(np.random.rand(30), index=mi) # Random numbers  
s

#### 59. Query in the Series with multiple indexes

In [ ]:
# Query values whose indexes are 1, 3, 6 
s.loc[:, [1, 3, 6]]

#### 60. Slice Series with multiple indexes

In [ ]:
s.loc[pd.IndexSlice[:'B', 5:]]

### DataFrame with multiple indexes [optional]

#### 61. Create DataFrame with multiple indexes 
Construct a `DataFrame` with multiple indexes, whose indexes are `letters = ['A', 'B']` and `numbers = list(range(6))`, and whose values are random numbers:

In [ ]:
frame=pd.DataFrame(np.arange(12).reshape(6,2),
                index=[list('AAABBB'),list('123123')],
                columns=['hello','shiyanlou'])
frame

#### 62. Set column names in multiple indexes

In [ ]:
frame.index.names=['first','second']
frame

#### 63. Group summation of DataFrame with multiple indexes

In [ ]:
frame.groupby('first').sum()

#### 64. DataFrame: Convert column and row names

In [ ]:
print(frame)
frame.stack()

#### 65. DataFrame: Convert index names

In [ ]:
print(frame)
frame.unstack()

#### 66. DataFrame Conditional Query

In [ ]:
# Example data

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)

Query the information about `age` > `3`:

In [ ]:
df[df['age'] > 3]

#### 67. Slice according to the indexes of row and column

In [ ]:
df.iloc[2:4, 1:3]

#### 68. DataFrame: Query with multiple conditions 
Query data of `age<3` and `cat`:

In [ ]:
df = pd.DataFrame(data, index=labels)

df[(df['animal'] == 'cat') & (df['age'] < 3)]

#### 69. DataFrame: Query by keyword

In [ ]:
df3[df3['animal'].isin(['cat', 'dog'])]

#### 70. DataFrame: Query labels and column names

In [ ]:
df.loc[df2.index[[3, 4, 8]], ['animal', 'age']]

#### 71. DataFrame: Multiple conditional sorting 

Sort `age` in descending order, and sort `visits` in ascending order:

In [ ]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

#### 72.DataFrame: Multi-value replacement

Replace the `yes` value of the `priority` column with `True`, and the `no` value with `False`:

In [ ]:
df['priority'].map({'yes': True, 'no': False})

#### 73. DataFrame: Group summation

In [ ]:
df4.groupby('animal').sum()

#### 74.Use table to stitch multiple data frames

In [ ]:
temp_df1 = pd.DataFrame(np.random.randn(5, 4)) # Generate DataFrame 1, consisting of random numbers
temp_df2 = pd.DataFrame(np.random.randn(5, 4)) # Generate DataFrame 2, consisting of random numbers
temp_df3 = pd.DataFrame(np.random.randn(5, 4)) # Generate DataFrame 3, consisting of random numbers

print(temp_df1)
print(temp_df2)
print(temp_df3)

pieces = [temp_df1,temp_df2,temp_df3]
pd.concat(pieces)

#### 75. Find the column with the smallest  summation in the DataFrame table

In [ ]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(df)
df.sum().idxmin()  # idxmax(), idxmin() are the indexes of the maximum and minimum returned by Series function

#### 76. Each element of the DataFrame subtracts the average of each line

In [ ]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)
df.sub(df.mean(axis=1), axis=0)

#### 77. DataFrame grouping, and get the sum of the biggest three numbers of each group

In [ ]:
df = pd.DataFrame({'A': list('aaabbcaabcccbbc'), 
                   'B': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
print(df)
df.groupby('A')['B'].nlargest(3).sum(level=0)

### Pivot table [Optional]
When analyzing large data, in order to better explore the relationships between data features without destroying the original data, you can use the `pivot_table`.

#### 78. Create pivot table 
Create a new table to aggregate the `A`, `B` and `C` columns as indexes:

In [ ]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                'B' : ['A', 'B', 'C'] * 4,
                'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                'D' : np.random.randn(12),
                'E' : np.random.randn(12)})

print(df)

pd.pivot_table(df, index=['A', 'B'])

#### 79.  Pivot table: Aggregates by specified row
Aggregate the `D` column of the DataFrame and aggregate it according to the `A` and `B` columns. The aggregation method is the default one (get the average value):

In [ ]:
pd.pivot_table(df,values=['D'],index=['A', 'B'])

#### 80. Pivot table: Aggregation definition
In the previous question, when the `D` column is aggregated, the default averaging method is used. If you want to use more methods, you can implement it in `aggfunc`:

In [ ]:
pd.pivot_table(df,values=['D'],index=['A', 'B'],aggfunc=[np.sum, len])

#### 81. Pivot table: Use additional columns for auxiliary segmentation 
When the `D` column is aggregated according to the `A` and `B` columns, if you care about the effect of the `C` column on the `D` column, you can add the columns\` values for analysis:

In [ ]:
pd.pivot_table(df,values=['D'],index=['A', 'B'],columns=['C'],aggfunc=np.sum)

#### 82. Process default value in pivot table
In the pivot table, due to different aggregation methods, the corresponding missing combination will be the default value, and you can add `fill_value` to process the default value:

In [ ]:
pd.pivot_table(df,values=['D'],index=['A', 'B'],columns=['C'],aggfunc=np.sum,fill_value=0)

### Absolute Type [Optional]

In the form of the data, it mainly includes the **quantity type** and the **nature type**. The quantity type indicates that the data countable range is _variable_. The nature type representation range has been determined to be _unchangeable_, and the absolute type data is one type of the nature type data.

#### 83. Define absolute type data

In [ ]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
df["grade"] = df["raw_grade"].astype("category")
df

#### 84. Rename absolute type data

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]
df

#### 85. Re-sort absolute type data and supplement the corresponding default values

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df

#### 86. Sort the absolute type data

In [ ]:
df.sort_values(by="grade")

#### 87. Group the absolute type data

In [ ]:
df.groupby("grade").size()

### Data Cleaning [Optional]
Usually the data we get does not meet the data requirements we ultimately process, including many defaults and bad data, which requires us to clean the data.

#### 88. Fitting default value  
There is a missing value in `FlightNumber`, where the value is incremented by `10`. Add the corresponding default value to make the data complete, and make the data type `int`:

In [ ]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
df['FlightNumber'] = df['FlightNumber'].interpolate().astype(int)
df

#### 89. Split data column  
`From_to` should be two separated columns `From` and `To`, and `From_to` will be split into two columns separated by `_` to create a new table:

In [ ]:
temp = df.From_To.str.split('_', expand=True)
temp.columns = ['From', 'To']
temp

#### 90. Standardization of characters
The names of the locations are not standardized, so the data needs to be standardized. e.g., `londON` should be `London`:

In [ ]:
temp['From'] = temp['From'].str.capitalize()
temp['To'] = temp['To'].str.capitalize()

#### 91. Delete bad data and add organized data
Delete the initial `From_to` column and add the sorted `From` and `To` columns:

In [ ]:
df = df.drop('From_To', axis=1)
df = df.join(temp)
print(df)

#### 92. Remove extra characters
As in the `airline` column, many data have many other characters which would have big effects on the later data analysis. These data need to be corrected:

In [ ]:
df['Airline'] = df['Airline'].str.extract('([a-zA-Z\s]+)', expand=False).str.strip()
df

#### 93. Format Specification
The way of recording in `RecentDelays` is a table type. Due to its different length, this will cause a lot of trouble for later data analysis. Here the table of `RecentDelays` is taken apart and the same position element in the list is taken out as a column. If it is null, replace it with `NaN`:

In [ ]:
delays = df['RecentDelays'].apply(pd.Series)

delays.columns = ['delay_{}'.format(n) for n in range(1, len(delays.columns)+1)]

df = df.drop('RecentDelays', axis=1).join(delays)
df

### Data Preprocessing [Optional]

#### 94. Information interval division
Here're the Maths scores of some students in the class, as shown below:
```python
df=pd.DataFrame({'name':['Alice','Bob','Candy','Dany','Ella','Frank','Grace','Jenny'],'grades':[58,83,79,65,93,45,61,88]})
```
But we are more concerned about whether the students have passed the test. The passing condition is `>60`:

In [ ]:
df=pd.DataFrame({'name':['Alice','Bob','Candy','Dany','Ella','Frank','Grace','Jenny'],'grades':[58,83,79,65,93,45,61,88]})

def choice(x):
    if x>60:
        return 1
    else:
        return 0

df.grades=pd.Series(map(lambda x:choice(x),df.grades))
df

#### 95. Remove repeated data 
Here is a DataFrame data with the column of `A`:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```
How to remove the repeated data?

In [ ]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df.loc[df['A'].shift() != df['A']]

#### 96. Data normalization

Sometimes, the data difference across columns in a DataFrame is too big and the data needs to be normalized.
For such cases, **Max-Min normalization** is a simple and common solution. The formula is as follows:

$$Y=\frac{X-X_{min}}{X_{max}-X_{min}}$$

In [ ]:
def normalization(df):
    numerator=df.sub(df.min())
    denominator=(df.max()).sub(df.min())
    Y=numerator.div(denominator)
    return Y
df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)
normalization(df)

### Pandas Drawing
In order to better understand the information contained in the data, the most intuitive way is to draw it into a graph.

#### 97. `Series` visualization

In [ ]:
%matplotlib inline
ts = pd.Series(np.random.randn(100), index=pd.date_range('today', periods=100))
ts = ts.cumsum()
ts.plot()

#### 98. `DataFrame` line chart

In [ ]:
df = pd.DataFrame(np.random.randn(100, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
df.plot()

#### 99. `DataFrame` scatter plot

In [ ]:
df = pd.DataFrame({"xs":[1,5,2,8,1], "ys":[4,2,1,9,6]})
df = df.cumsum()
df.plot.scatter("xs","ys",color='red',marker="*")

#### 100. `DataFrame` column chart

In [ ]:
df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })

ax = df.plot.bar("month", "revenue", color = "yellow")
df.plot("month", "advertising", secondary_y = True, ax = ax)

## <a id = "3">3. Summary</a>

If you have done the above 100 exercises yourself, I believe that you have improved your proficiency in the Pandas module. We recommend that you review these exercises regularly, and you will be more familiar with the module. 
The main points covered in this experiment are:
- Creating `Series`
- Basic operations on `Series`
- Creating `DataFrame`
- Basic operations on `DataFrame`
- File-related operations on `DataFrame`
- `Series`, `DataFrame` and multiple indexes
- Pivot table
- Data cleaning
- Data preprocessing
- Visualization

___

<div style="color: #999;font-size: 12px;font-style: italic;"> The content is authorized by the author and published by LabEx. Reproduction, downloading and illegal dissemination without permission are prohibited. A small number of exercises in the experiment were compiled from: [100 pandas puzzles](https://github.com/ajcr/100-pandas-puzzles).</div>